.session__new_body
  %link#bootstrap-css{:href => "//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css", :rel => "stylesheet"}/
  %script{:src => "//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"}
  %script{:src => "//code.jquery.com/jquery-1.11.1.min.js"}
  / ---- Include the above in your HEAD tag --------
  .container
    .wrapper.form-signup
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        %h3.form-signup-heading Welcome! Please Sign Up
        %hr.colorgraph/
        %br/
        = f.text_field :nickname, autofocus: true, class:"form-control", placeholder: "ニックネーム"
        = f.text_field :nowweight, autofocus: true, class:"form-control", placeholder: "現在の体重(kg)"
        = f.text_field :targetweight, autofocus: true, class:"form-control", placeholder: "目標体重(kg)"
        = f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "パスワード"
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス"
        -# %a.button{:name => "Submit", :type => "Submit", :value => "Login"}
        -#   %span
        -#     SignUp
        .actions
          = f.submit "Sign up"
          -# = render "devise/shared/links"






    -# = link_to "削除", post_path(@post.id), method: :delete, class: "postManage__delete"















-# %h2 Sign up
-# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-# = render "devise/shared/error_messages", resource: resource
-#   .field
-#     = f.label :nickname
-#     %br/
-# = f.text_field :nickname, autofocus: true
-#     .field
-#       = f.label :email
-#       %br/
      -# = f.email_field :email, autofocus: true, autocomplete: "email"
-#     .field
-#       = f.label :password
-#       - if @minimum_password_length
-#         %em
-#           (#{@minimum_password_length} characters minimum)
-#       %br/
      -# = f.password_field :password, autocomplete: "new-password"
-#     .field
-#       = f.label :password_confirmation
-#       %br/
-#       = f.password_field :password_confirmation, autocomplete: "new-password"
    .actions
      = f.submit "Sign up"
    = render "devise/shared/links"
