= render partial: 'header'
.contents
  .content__title
    ☆今日の成果☆
  .content__form
  = form_with model: @post, class: :form, id:"new_post", local: true  do |form|
    .form-group
      = form.text_field :weight, placeholder: :今日の体重, class:"form-control"
    .2
      = form.text_field :title, placeholder: :タイトル, class:"form-control"
      = form.text_area :content, placeholder: :本文, class:"form-control"
      = form.submit '報告する', class:"form__btn"
      
